/******************** Body Customizations ********************/

body {
  background-color: #f5f5f5;
}


/******************** Landing Page Customizations ********************/

/* Push callouts section closer to center. */
#callouts {
  margin-left: 100px;
  margin-right: 100px;
}

/* Center icons. */
#callouts .icon-div {
  text-align: center;
}
  
/* Style icons in callouts. */
#callouts .icon-div i {
  color: #222;
  font-size: 96px;
  border-radius: 50%;
  border: 10px solid #049cdb;
  padding: 29px;
  margin: 0 auto;
}

/* Align header text in callouts. */
#callouts h4 {
  text-align: center;
}

/******************** Header Customizations ********************/

/* Remove margin beneath navbar. */
.navbar {
  margin-bottom: 0px;
}

/* Make the navbar 80px tall. */
.navbar-brand,
.navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}

/* Make the brand name darker and larger. */
.navbar-default .navbar-brand {
  color: #222;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-default {
  /* Make the navbar white. */
  background-color: white;

  /* Pad the navbar to be more centered. */
  padding-left: 100px;
  padding-right: 100px;

  /* Add shadow beneath navbar. */
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

/* Make the navbar links blue, spaced out, and larger. */
.navbar-default .navbar-nav > li > a {
  color: #049cdb;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/******************** Footer Customizations ********************/
footer {
  /* Make footer white and taller. */
  background: white;
  height: auto;

  /* Add space before footer. */
  margin-top: 40px;

  /* Add shadow above footer. */
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  -o-box-shadow: 0 0 3px rgba(0,0,0,0.25);
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
}

/* Add space in footer before text. */
footer div{
  padding: 20px;
}

/* Push text in footer closer to center. */
footer p {
  margin-left: 100px;
}

/******************** Jumbotron Customizations ********************/

.jumbotron {
  /* Make background a centered image of Reynolds. */
  background-image: url(/img/reynolds.jpg);
  background-position: 0 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Make all jumbotron text white, bold, and shadowed. */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
}

/* Make jumbotron header larger and more shadowed. */
.jumbotron h1 {
  font-size: 56px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.75);
}

/* Make jumbotron text larger and bold. */
.jumbotron p {
  font-size: 18px;
  font-weight: bold;
}

/* Surround jumbotron image with blue circle border. */
.jumbotron img {
  border-radius: 100%;
  border: 10px solid #049cdb;
}

/* Make jumbotron small text white and italic. */
.jumbotron small,
.jumbotron small a {
  color: white;
  font-style: italic;
}

/******************** Horizontal Rule Customizations ********************/

/* Make horizontal rule thicker and blue. */
hr {
  border: none;
  border-bottom: 2px solid #049cdb;
}

/******************** Resizing support ********************/

@media only screen and (max-width: 992px) {
  #callouts {
    margin-left: 10px;
    margin-right: 10px;
  }
}