---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
$font: Arial, Helvetica, sans-serif;

// Guelph colors
$guelph-dark-red: #660000;
$guelph-light-red: #990100;
$guelph-yellow: #FDC82F;
$guelph-orange: #FD9800;
$white: #FFF;
$black: #000;
$dark-grey: #21201c;
$light-grey: #898172;

// Media device sizing
$max-xs-width: 767px;
$max-sm-width: 991px;
$max-md-width: 1199px;

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
    height: 100%;
}

body {
    background-color: $light-grey;
}

hr {
    border-color: $guelph-yellow;
}

a {
    color: $guelph-light-red;
}
a:hover {
    color: $guelph-dark-red;
}

// Wraps everything but the footer to fix the footer to the bottom of the page.
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

/*===================================================*/
/* Header styles */
/*===================================================*/

header {
    background: -webkit-linear-gradient($guelph-dark-red, $guelph-light-red);
    background: -o-linear-gradient($guelph-dark-red, $guelph-light-red);
    background: -moz-linear-gradient($guelph-dark-red, $guelph-light-red);
    background: linear-gradient($guelph-dark-red, $guelph-light-red);
    border-bottom: 2px solid $guelph-yellow;
    position: relative;
    z-index: 2;

    a {
        color: $white;
        font-size: 14px;

        -moz-transition:color .2s ease-in;
        -o-transition:color .2s ease-in;
        -webkit-transition:color .2s ease-in;
    }
    a:hover {
        color: $guelph-yellow;
        background-color: transparent !important;
    }

    .navbar {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 8px $black;
    }

    .icon-bar {
        background-color: $white;
    }
}

/*===================================================*/
/* Footer styles */
/*===================================================*/

// Pushes down the footer, creating a margin.
#push {
    height: 40px;
}

footer {
    border-top: 1px solid $guelph-yellow;
    background-color: $dark-grey;
    min-height: 60px;
    padding-top: 10px;

    p {
        color: $white;
    }

    a {
        color: $guelph-yellow;

        -moz-transition:color .2s ease-in;
        -o-transition:color .2s ease-in;
        -webkit-transition:color .2s ease-in;
    }
    a:hover {
        text-decoration: none;
        color: $guelph-orange;
    }

    .social-btns {
        a {
            float: right;
            font-size: 26px;
            margin-left: 8px;
            text-shadow: 2px 2px 8px $black;
        }
    }
}

/*===================================================*/
/* Homepage styles */
/*===================================================*/
.alert {
    margin-bottom: 0;
}
.alert-primary {
    background-color: $guelph-yellow;
}

.jumbotron {
    background-image: url(/img/reynolds.jpg);
    background-position: 0 50%;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 8px 1px $black;
    -webkit-box-shadow: 0 1px 8px 1px $black;

    img {
        margin: 0 auto;
        border-radius: 100%;
        border: 2px solid $guelph-yellow;
    }

    .hero {
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-bottom: 8px;

        h1, hr, p {
            color: $white;
            text-shadow: 1px 1px 4px $black;
            font-size: 20px;
        }

        h1 {
            font-weight: bold;
            font-size: 48px;
        }

        small {
            color: $light-grey;
            font-size: 10px;

            a {
                color: $guelph-yellow;
            }
        }
    }
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-section {
    position: relative;
    height: 40px;
    margin-top: 20px;

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 46px;
        top: -26px;
        color: $guelph-yellow;
    }
    a:hover {
        color: $guelph-orange;
    }

    h4 {
        text-align: center;
        padding-top: 34px;
        font-weight: bold;
        position: relative;
        z-index: 2;
        font-size: 16px;
        pointer-events: none;
    }
}

/*===================================================*/
/* Other styles */
/*===================================================*/

.article-container {
    background-color: $white;
    padding: 2px 15px 15px;
    margin: 15px 0 30px;
    box-shadow: 0 1px 8px 1px $black;
    -webkit-box-shadow: 0 1px 8px 1px $black;
}

/* Link to google drive on an event page */
.view-event-folder {
    background: url('../img/folder.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: block;
    padding: 12px 0 10px 50px;
    font-weight: bold;
}
.view-event-slides {
    background: url('../img/slides.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: block;
    padding: 12px 0 10px 50px;
    font-weight: bold;
}

/* Link to google drive on the GCC events page */
.view-past-gcc-event-files {
    float: right;
    background: url('../img/folder.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    padding: 12px 50px 10px 0;
    font-weight: bold;
    text-align: right;
}

.dynamic-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 90%;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Remove some bootstrap margins */
.past-gcc-event p {
    margin-bottom: 0;
}
.past-gcc-event h3 {
    margin-top: 0;
}

/* Jekyll makes it hard to do stuff on the last iteration of a loop. This will hide the dangling hr at the end. */
hr.hide-last:last-of-type {
    display: none;
}

.about-social-btn {
    font-size: 25px;
    margin-right: 10px;
}

/*===================================================*/
/* Responsive styles */
/*===================================================*/

/* Small devices */
@media only screen and (max-width: $max-sm-width) {
}

/* Extra small devices */
@media only screen and (max-width: $max-xs-width) {
    .jumbotron {
        .hero {
            padding-bottom: 16px;

            h1 {
                padding-top: 8px;
            }
        }
    }
}
