footer
  .grid-wrapper
    .grid
      .grid__item
        p.copyright
          | All content by SOCIS and licenced under 
          a(href='//creativecommons.org/licenses/by-nc-sa/3.0/ie/') Creative Commons
          br
          | This site was built with 
          a(href='//harpjs.com') Harp
          |  and 
          a(href='https://github.com/coogie/oscailte') oscailte
//if lt IE 7
  p.chromeframe
    | You are using an
    strong outdated
    | browser&period; Please
    a(href='http://browsehappy.com/') upgrade your browser
    | or
    a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
    | to improve your experience&period;

