footer
  .grid-wrapper
    .grid
      .grid__item
        p.copyright
          | This site was built with 
          a(href='//harpjs.com') Harp
          |  and 
          a(href='//github.com/coogie/oscailte') oscailte
          br
          | SOCIS supports open-source; fork this site on 
          a(href='//github.com/UoGSOCIS/uogsocis.github.io') Github
//if lt IE 7
  p.chromeframe
    | You are using an
    strong outdated
    | browser&period; Please
    a(href='http://browsehappy.com/') upgrade your browser
    | or
    a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
    | to improve your experience&period;

