header
  .grid-wrapper
    .grid
      .grid__item.two-fifths.lap-four-sixths.palm-one-whole
        a.site-title(href='/') SOCIS
      .grid__item.three-fifths.lap-two-sixths.palm-one-whole
        nav
          input#toggle(type='checkbox')
          label.toggle(for='toggle', data-open='Main Menu', data-close='Close Menu')
          ul.menu.pull-right
            li
              a(href='/') Home
            li
              a(href='/about/') About Us
            li
              a(href='/news/') News
            li
              a(href='/roboticon/') Roboticon
            li
              a(href='/contact/') Contact Us

