---
layout: default
---

<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-sm-4 col-sm-offset-1">
      <img alt="SOCIS's Picture" class="img-responsive img-circle" src="/img/gravatar.jpg">
    </div>

    <div class="col-sm-6">
      <h1>SOCIS</h1>
      <hr>
      <p class="lead">We are the Society of Computing and Information
      Science, a student organization for the University of Guelph's School
      of Computer Science. We run community building events from Hackathons
      to LANs. We also run one of the largest College Royale events,
      Roboticon. Come join us in the SOCIS lounge, Reynolds 104, anytime.</p>
      <small class="pull-right">Front of Reynolds, by <a href="http://www.flickr.com/photos/jswaby/299521902/" target="_blank">Jason Swaby</a> 
      <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank">(by-nc-nd)</a></small>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="callouts" class="row">
    <div class="col-sm-4">
      <div class="icon-div">
        <a href="http://www.socs.uoguelph.ca/"><i class="fa fa-laptop"></i></a>
      </div>
      <h4>Computer Science</h4>
      <hr>

      <p>
        We are a group of students working to help our fellow computer science
        students. We coordinate with the Guelph <a href="http://www.socs.uoguelph.ca/">School of Computer Science</a> in
        planning the future of our program. We also manage a
        number of services for students like the CS lounge which is a space for
        relaxation and socializing.
      </p>
      <hr class="visible-xs">
    </div>
    <div class="col-sm-4">
      <div class="icon-div">
        <a href="https://www.facebook.com/groups/UoGSOCIS/"><i class="fa fa-users"></i></a>
      </div>
      <h4>Community Building</h4>
      <hr>
      <p>
        We run events throughout the year to build the community in the
        Computer Science department at Guelph. In the past we have run
        Hackathons, LANs and Paintballing. We are always looking for new events
        to run so if you have any thing you'd like to see us do let us
        know!
      </p>
      <hr class="visible-xs">
    </div>
    <div class="col-sm-4">
      <div class="icon-div">
        <a href="/events/"><i class="fa fa-calendar"></i></a>
      </div>
      <h4>Events Feed</h4>
      <hr>
      {% for post in site.posts %}
        {% if post.categories contains 'events' %}
          <div class="row">
            <div class="col-sm-6"><a href="{{ post.url }}">{{ post.title }}</a></div>
            <div class="col-sm-6">
              <p style="text-align: right;">{{ post.date | date: '%B %d, %Y' }} {{ post.event_time }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
