---
layout: default-legacy
---

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <article class="article-container">
      <h2>SOCIS News</h2>
      <hr>
      {% for post in site.posts %}
        {% if post.categories contains 'news' %}
          <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: '%B %d, %Y' }}</p>
          </article>
          <hr class="grey hide-last">
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>
