---
layout: default
title: "Guelph Coding Community Tech Talks"
categories: [events, gcc]
event_time: "7:00pm-9:00pm"
speakers: "Daniel Robinson, Max Gomes and Alex Pennells"
files:
    - slides: "https://drive.google.com/file/d/0B9DDeOOQGAPkQTZ3YnVmZlpfWkE/view?usp=sharing"
      author: "Daniel Robinson"
    - slides: "https://drive.google.com/file/d/0B9DDeOOQGAPkSU9HNHgxWVJFR0U/view?usp=sharing"
      author: "Alex Pennells"
    - folder: "https://drive.google.com/drive/folders/0B9DDeOOQGAPkXy0wXzNKOHdOTkk?usp=sharing"
      author: "Max Gomes"
---
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <article class="article-container">
      <div>
        <h2 class="title indent">{{ page.title }}</h2>
        <p>{{ page.date | date: '%B %d, %Y' }} {{ page.event_time }}</p>
        <p>Location: <a href="http://www.uoguelph.ca/campus/map/reynolds/">Reynolds 114 (Mac Lab)</a></p>
        <hr>
      </div>

      <p>
        GCC Tech Talks are events designed to showcase what your fellow students in SOCS are doing and maybe to even share some knowledge. For our first event this year we've got three awesome talks lined up:
      </p>
      <br>
      <p>Daniel Robinson will be doing an intro to Ruby on Rails.</p>
      <br>
      <p>Max Gomes is presenting his Arduino omni-directional robot.</p>
      <br>
      <p>SOCIS's own Alex Pennells will be talking about how we run socis.ca and how you can apply those concepts to your own personal site.</p>
      <br>
      <p>As always there will be plenty of time for socializing after the talks as well. Hope to see everyone there!</p>

      {% if page.files %}
        <hr class="grey">
      {% endif %}


      <div id="slides">
      {% for file in page.files %}
        {% if file.folder %}
            <a class="view-event-folder" target="_blank" href="{{ file.folder }}">View folder {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% elsif file.slides %}
            <a class="view-event-slides" target="_blank" href="{{ file.slides }}">View Presentations slides {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% endif %}
      {% endfor %}
      </div>

    </article>

    <article class="article-container">
      <section id="disqus">
        <h2 class="indent title">Comments</h2>
        {% include disqus.html %}
      </section>
    </article>
  </div>
</div>
