---
layout: default
title: "Guelph Coding Community Tech Talks"
categories: [events, gcc]
event_time: "7:00pm-9:00pm"
speakers: "Luis Gustavo Pampolini, Sebastian Lenartowicz and Julian Horvat"
files: "https://drive.google.com/a/socis.ca/folderview?id=0B7SbmDOkhbl1Z1h6THRBUWhvaEE&usp=sharing"
---
<div class="container-fluid">
  <div class= "col-md-8 col-md-offset-2">
    <article class="article-container">
      <header>
        <h2 class="title indent">{{ page.title }}</h2>
        <p>{{ page.date | date: '%B %d, %Y' }} {{ page.event_time }}</p>
        <p>Location: <a href="http://www.uoguelph.ca/campus/map/reynolds/">Reynolds 114 (Mac Lab)</a></p>
        <hr>
      </header>

      <p>
        GCC Tech Talks are events designed to showcase what your fellow students in SOCS are doing and maybe to even share some knowledge. For our third event this year we've got some awesome talks lined up:
      </p>
      <p>
        Luis Gustavo Pampolini will be talking about setting up a LAMP (Linux, Apache, MySQL, PHP) stack and some tips and tricks around that.
      </p>
      <p>
        Sebastian Lenartowicz will be talking about genetic algorithms and the general theory behind them, then move on to his own work and demonstrate the a sample problem.
      </p>
      <p>
        Julian Horvat will be giving a talk about CUSEC and why it is awesome and you should go.
      </p>
      <p>
        As always there will be plenty of time for socializing after the talks as well. Hope to see everyone there!
      </p>
      {% if page.files != "none" %}
        <hr class="grey">
        <a class="view-event-files" target="_blank" href="{{ page.files }}">View Presentations on Google Drive</a>
      {% endif %}
    </article>

    <section id="disqus">
      <h2 class="indent title">Comments</h2>
      {% include disqus.html %}
    </section>
  </div>
</div>
