---
layout: default-legacy
title: "Guelph Coding Community Tech Talks"
categories: [events, gcc]
event_time: "7:00pm-9:00pm"
speakers: "Marshall Asch, Ryan Taylor, and Jacob Knarr"
files:
    - slides: "https://docs.google.com/presentation/d/1y9hjnAbdH3CsGSAS_5XDnKx-YqV0EYxU4Sk9GdkhkQI/edit?usp=sharing"
      author: "Marshall Asch"
    - slides: "https://docs.google.com/presentation/d/16dsE3g3yIiDFEKRf8TwZcYys1ZVnZWhjKUMMvW_aYeY/edit?usp=sharing"
      author: "Ryan Taylor"
    - slides: "https://docs.google.com/presentation/d/1y7BSrpbQ-AasXNan8TiK_39FQY04LpbmsMSh7b1l-4A/edit?usp=sharing"
      author: "Jacob Knarr"
---
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <article class="article-container">
      <div>
        <h2 class="title indent">{{ page.title }}</h2>
        <p>{{ page.date | date: '%B %d, %Y' }} {{ page.event_time }}</p>
        <p>Location: <a href="http://www.uoguelph.ca/campus/map/reynolds/">Reynolds 1101</a></p>
        <hr>
      </div>

      <p>
        GCC Tech Talks are events designed to showcase what your fellow students in SoCS are doing and maybe to even share some knowledge. We've got three awesome talks lined up:
      </p>
      <br>
      <p>Marshall Asch will be doing a talk on Mobile Mesh Networks.</p>
      <br>
      <p>Ryan Taylor is presenting his work on Analyzing Student Mental Health Based On Homework Using Text Clustering.</p>
      <br>
      <p>Jacob Knarr will be talking about Fragments and Dialogs in Android Development.</p>
      <br>
      <p>As always there will be plenty of time for socializing after the talks as well. Hope to see everyone there!</p>
      {% if page.files %}
        <hr class="grey">
      {% endif %}

      <div id="slides">
      {% for file in page.files %}
        {% if file.folder %}
            <a class="view-event-folder" target="_blank" href="{{ file.folder }}">View folder {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% elsif file.slides %}
            <a class="view-event-slides" target="_blank" href="{{ file.slides }}">View Presentations slides {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% endif %}
      {% endfor %}
      </div>

    </article>

    <article class="article-container">
      <section id="disqus">
        <h2 class="indent title">Comments</h2>
        {% include disqus.html %}
      </section>
    </article>
  </div>
</div>
