---
layout: default
title: "GCC - Advanced git"
categories: [events, gcc]
event_time: "5:30pm-6:30pm"
speakers: "Marshall Asch"
files:
    - folder: "https://drive.google.com/drive/folders/1Ab_Bd_c_3Pe2AqUXS_k-nFenc5vBrEHM?usp=sharing"
---
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <article class="article-container">
      <div>
        <h2 class="title indent">{{ page.title }}</h2>
        <p>{{ page.date | date: '%B %d, %Y' }} {{ page.event_time }}</p>
        <p>Location: <a href="http://www.uoguelph.ca/campus/map/reynolds/">Reynolds 1101</a></p>
        <hr>
      </div>

      <p>
        GCC Tech Talks are events designed to showcase what your fellow students in SoCS are doing and maybe to even share some knowledge. We've got three awesome talks lined up:
      </p>
      <br>
      <p>
        If you came to the previous talk on basic commandline and git then this is a follow up to that where you will learn
        awesome things like how to handle merge conflicts, figure out who wrote the line of code that broke everything, making
        branches and more! There will also be some more advanced BASH tools introduced too. Come with a laptop with a unix like
        environment (Mac, Ubuntu, Debian, etc.) or with a way to connect to the school server.
      </p>
      <br>
      <br>
      <p>As always there will be plenty of time for socializing after the talks as well. Hope to see everyone there!</p>
      {% if page.files %}
        <hr class="grey">
      {% endif %}

      <div id="slides">
      {% for file in page.files %}
        {% if file.folder %}
            <a class="view-event-folder" target="_blank" href="{{ file.folder }}">View folder {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% elsif file.slides %}
            <a class="view-event-slides" target="_blank" href="{{ file.slides }}">View Presentations slides {%if file.author %} - ({{ file.author }}) {% endif %}</a>
        {% endif %}
      {% endfor %}
      </div>

    </article>

    <article class="article-container">
      <section id="disqus">
        <h2 class="indent title">Comments</h2>
        {% include disqus.html %}
      </section>
    </article>
  </div>
</div>
