<footer>
  <div class="container-fluid">
  	<div class="row">
      <div class="col-sm-12">
        <p>
          This site was built using <a href="//getbootstrap.com">Bootstrap</a> 
          and <a href="//github.com/coogie/oscailte">oscailte</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>
          SOCIS supports open-source; fork this site on 
          <a href="//github.com/UoGSOCIS/uogsocis.github.io">Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>
