<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 col-xs-6 text-left">
        <p>
          This site was built using <a href="//getbootstrap.com">Bootstrap</a> 
          and <a href="//github.com/coogie/oscailte">oscailte</a>
        </p>
        <p>
          SOCIS supports open-source; fork this site on 
          <a href="//github.com/UoGSOCIS/uogsocis.github.io">Github</a>
        </p>
      </div>
      <div id="social-links" class="col-sm-5 col-xs-6 text-right">
        <a class="text-muted" href="https://www.facebook.com/groups/UoGSOCIS/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
          </span>
        </a>
        <a class="text-muted" href="https://twitter.com/uogsocis">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
