<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SOCIS</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="/events/" class="dropdown-toggle" role="button" aria-expanded="false">Events</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/events/">All</a></li>
              <li><a href="/gcc/">GCC</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/roboticon/" class="dropdown-toggle" role="button" aria-expanded="false">Roboticon</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/roboticon/">About</a></li>
              <li><a href="/roboticon/challenge.html">Challenge Description</a></li>
            </ul>
          </li>
          <li><a href="/csgames/">CS Games</a></li>
          <li><a href="/about/">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
