<header>
  <div class="grid-wrapper grid">
    <div class="grid__item two-fifths lap-four-sixths palm-one-whole">
      <a class="site-title" href="/">SOCIS</a>
    </div>

    <div class="grid__item three-fifths lap-two-sixths palm-one-whole">
      <nav>
        <input id="toggle" type="checkbox"><label class="toggle" data-close=
          "Close Menu" data-open="Main Menu" for="toggle"></label>

        <ul class="menu pull-right">
          <li>
          <a href="/">Home</a>
          </li>

          <li>
          <a href="/about/">About Us</a>
          </li>

          <li>
          <a href="/news/">News</a>
          </li>

          <li>
          <a href="/roboticon/">Roboticon</a>
          </li>

          <li>
          <a href="/contact/">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
