---
layout: default
---

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <article class="article-container">
      <h2>Guelph Coding Community</h2>
      <hr>
      <p>
        The Guelph Coding Community has been organizing student run Tech Talks since 2013. GCC talks are currently being held every Monday night at 5:30pm in REYN 1101. Check the site for upcoming sessions and information about the speakers and their topics.
        <br><br>
        If you would like to give your own talk during a GCC event, feel free to <a href="mailto:gcc@socis.ca">email</a> the GCC organizers, or fill out the form below!
      </p>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdyu7Q5XaQi4vYdtUFyWGsKJdjxs19Ndt9dhbPHCt56xFO1-g/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </article>

    <article class="article-container">
      <h2>Upcoming Events</h2>
      <hr>
      {% assign emptyEventSchedule = true %}
      {% assign curDate = site.time | date: '%s' %}

      {% for post in site.posts reversed %}
        {% assign postDate = post.date | date: '%s' %}
        {% if post.categories contains 'events' and post.categories contains 'gcc' and postDate >= curDate %}
          <article>
            <h3><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a></h3>
            <p>{{ post.event_time }}</p>
          </article>
          <hr class="grey hide-last">
        {% endif %}
      {% endfor %}
    </article>
    <article class="article-container">
      <h2>Past Events</h2>
      <hr>
      {% for post in site.posts %}
        {% assign postDate = post.date | date: '%s' %}
        {% if post.categories contains 'events' and post.categories contains 'gcc' and postDate < curDate %}
          <article>
            <div class="fluid-container past-gcc-event">
              <div class="row">
                <div class="col-lg-6">
                  <h3><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a></h3>
                  <p>Presenters: {{ post.speakers }}</p>
                </div>
                <div class="col-lg-6">
                  {% if post.files  %}
                    <a class="view-past-gcc-event-files" target="_blank" href="{{ post.url }}#slides">View Presentations</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </article>
          <hr class="grey hide-last">
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>
