<div class="hero" style="background-image: url('/images/reynolds.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
          We are the Society of Computing and Information Science, a student organization for the University of Guelph's School of Computer Science. We run community-building events from hackathons to LANs. We also run one of the largest College Royale events, Roboticon. Come join us in the SOCIS lounge, Reynolds 104, anytime. 
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p>
      Front of Reynolds, by <a href="http://www.flickr.com/photos/jswaby/299521902/" target="_blank">Jason Swaby</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en" target="_blank" class="licence"><small>(by-nc-nd)</small></a>
    </p>
  </div>
</div>
