---
layout: default-legacy
---

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <article class="article-container">
      <h2>Recurring Events</h2>
      <hr>
      <p>The SOCIS executive team hosts a public meeting every other Thursday at 5:30pm on Zoom.</p>
      <p>Join the <code>#socis</code> channel on <a href="https://gryph.slack.com">GryphSlack</a> for the meeting link.</p>
    </article>

    <article class="article-container">
      <h2>Upcoming Events</h2>
      <hr>
      {% assign emptyEventSchedule = true %}
      {% assign curDate = site.time | date: '%s' %}

      {% for post in site.posts reversed %}
        {% assign postDate = post.date | date: '%s' %}
        {% if post.categories contains 'events' and postDate >= curDate %}
          <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: '%B %d, %Y' }} {{ post.event_time }}</p>
          </article>
          <hr class="grey hide-last">
          {% assign emptyEventSchedule = false %}
        {% endif %}
      {% endfor %}

      {% if emptyEventSchedule %}
        <p>
          There are not currently any upcoming events. Check out the <a target="_blank" href="{{ site.facebook_url }}">Facebook</a> and <a target="_blank" href="{{ site.twitter_url }}">Twitter</a> feeds to keep yourself up to date about all SOCIS news!
        </p>
      {% endif %}
    </article>
    <article class="article-container">
      <h2>Past Events</h2>
      <hr>
      {% for post in site.posts %}
        {% assign postDate = post.date | date: '%s' %}
        {% if post.categories contains 'events' and postDate < curDate %}
          <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: '%B %d, %Y' }} {{ post.event_time }}</p>
          </article>
          <hr class="grey hide-last">
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>
