---
layout: default
---

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <article class="article-container">
      <h2>Recurring Events</h2>
      <hr>
      <p>Your SOCIS executive team hosts a public meeting every Wednesday at 5:30 in Reynolds 219.</p>
    </article>
    <article class="article-container">
      <h2>Special Events</h2>
      <hr>
      {% for post in site.posts %}
        {% if post.categories contains 'events' %}
          <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: '%B %d, %Y' }} {{ post.event_time }}</p>
          </article>
          <hr class="grey hide-last">
        {% endif %}
      {% endfor %}
    </article>
  </div>
</div>
