doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title University of Guelph SOCIS - SOCIS
    meta(name='author', content='SOCIS')
    meta(name='description', content='Computer Science We are a group of computer science students for computer science students. We coordinate with the School of Computer Science in …')
    meta(name='viewport', content='width=device-width')
    link(rel='canonical', href='http://UoGSOCIS.github.io')
    link(href='/favicon.png', rel='icon')
    link(href='/stylesheets/screen.css', media='screen, projection', rel='stylesheet')
    link(href='//atom.xml', rel='alternate', title='SOCIS', type='application/atom+xml')
  body
    != partial("_partials/nav.jade")
    .hero(style='background-image: url("/images/reynolds.jpg");')
      .grid-wrapper
        .grid.flex
          .grid__item.flex__item.two-fifths.palm-one-whole.avatar
            img.gravatar(src='/images/gravatar.jpg', alt='SOCIS"s Picture')
          .grid__item.flex__item.three-fifths.palm-one-whole
            h1 SOCIS
            hr
            p.lead
              | We are the Society of Computing and Information Science, a student organization for the University of Guelph's School of Computer Science. We run community building events from Hackathons to LANs. We also run one of the largest College Royale events, Roboticon. Come join us in the SOCIS lounge, Reynolds 104, anytime.
      .credit
        p
          | Front of Reynolds, by 
          a(href='http://www.flickr.com/photos/jswaby/299521902/', target='_blank') Jason Swaby
          a.licence(href='http://creativecommons.org/licenses/by-nc-nd/2.0/deed.en', target='_blank')
            small  (by-nc-nd)
    .grid-wrapper
      .grid.grid-center
        .grid__item.one-whole
          .grid-wrapper
            .grid
              .grid__item.one-third.lap-one-whole.palm-one-whole.usp
                .grid
                  .grid__item.one-whole.lap-one-third
                    span.icon
                      a(href='http://www.socs.uoguelph.ca/')
                        i.icon-laptop
                  .grid__item.one-whole.lap-two-thirds
                    h2.title Computer Science
                    hr
                    p
                      | We are a group of computer science students for computer science students. We coordinate with the 
                      a(href='http://www.socs.uoguelph.ca/') School of Computer Science
                      |  in planning the future of Computer Science at Guelph. We also manage a number of services for students like the CS lounge which is a space for relaxation and socializing.
              .grid__item.one-third.lap-one-whole.palm-one-whole.usp
                .grid
                  .grid__item.one-whole.lap-one-third
                    span.icon
                      a(href='https://www.facebook.com/groups/UoGSOCIS/')
                        i.icon-group
                  .grid__item.one-whole.lap-two-thirds
                    h2.title Community Building
                    hr
                    p
                      | We run events throughout the year to build the community in the Computer Science department at Guelph. In the past we have run Hackathons, LANs and Paintballing. We are always looking for new events to run so if you have any thing you'd like to see us do let us know!
              .grid__item.one-third.lap-one-whole.palm-one-whole.usp
                .grid
                  .grid__item.one-whole.lap-one-third
                    span.icon
                      a(href='/roboticon/')
                        i.icon-rocket
                  .grid__item.one-whole.lap-two-thirds
                    h2.title Roboticon
                    hr
                    p
                      | Roboticon is an anual effort by the School of Computer Science and SOCIS to foster high schoolers' interest in the field of Computer Science. Competitors are tasked with building 
                      a(href='http://mindstorms.lego.com/en-us/default.aspx') Lego Mindstorms
                      |  robots to complete a series of challenges designed by SOCIS members.
    != partial("_partials/footer.jade")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
    script(defer='', src='/javascripts/octopress.js')
